---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hold shift to check multiple">
    <main>
        <div class="inbox">
            <div class="item">
                <input type="checkbox">
                <p>This is an inbox layout.</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Check one item</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Hold down your Shift key</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Check a lower item</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Everything in between should also be set to checked</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Try to do it without any libraries</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Just regular JavaScript</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Good Luck!</p>
            </div>
            <div class="item">
                <input type="checkbox">
                <p>Don't forget to tweet your result!</p>
            </div>
        </div>
    </main>
</Layout>

<style>
    html {
        font-family: sans-serif;
        background: #ffc600;
    }

    .inbox {
        max-width: 400px;
        margin: 50px auto;
        background: white;
        border-radius: 5px;
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
        border-bottom: 0;
    }

    input:checked+p {
        background: #F9F9F9;
        text-decoration: line-through;
    }

    input[type="checkbox"] {
        margin: 20px;
    }

    p {
        margin: 0;
        padding: 20px;
        transition: background 0.2s;
        flex: 1;
        font-family: 'helvetica neue';
        font-size: 20px;
        font-weight: 200;
        border-left: 1px solid #D1E2FF;
    }
</style>
<script>
    const checkBoxes = document.querySelectorAll('.inbox input[type="checkbox"]');

    let checked = [];
    let keyPressed = null;


    function selectFirstBox(e, index) {
        console.log(e.shiftKey);

        //console.log(index, e);
        if (checked.length < 2) {
            const selectedBox = e.target;

            if (keyPressed === 16 && selectedBox.checked) {
                checked.push(index);
            }

            if (keyPressed === null && selectedBox.checked) {
                checked.push(index);
            }
        }
        let i = checked[0] < checked[1] ? checked[0] + 1 : checked[1] + 1;
        for (i; i <= Math.abs(checked[0] - checked[1]); i++) {
            //console.log('clickiando', Array.from(checkBoxes)[i]);
            Array.from(checkBoxes)[i].checked = true;
        }
        //checked = [];
    }

    function selectSecondBox(e) {
        keyPressed = e.keyCode;
    }
    checkBoxes.forEach((check, index) => check.addEventListener('click', (e) => selectFirstBox(e, index)));
    window.addEventListener('keydown', (e) => selectSecondBox(e));
</script>